@import '../../stylesheets/variables.css';

.active {
    border-bottom: 3px solid var(--blue);
    color: var(--text-grey-dark);

}

.border {
    display: none;
    border-left: 1px solid var(--grey);
    position: absolute;
    top: 17%;
    bottom: 17%;
    left: 0;
}

.button {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.children {
    padding: 15px 0;
    cursor: pointer;
    box-sizing: border-box;
    height: 45px;
    color: var(--text-grey-light);
    font-size: 16px;
}

.imgToolbarContainer {
    margin: 20px;
    border: 1px solid var(--grey);
    max-width: 1180px;
}

.tabContainer {
    padding: 0 17px;
    position: relative;
}

.tabs {
    padding-left: 3px;
    display: flex;
    border-bottom: 1px solid var(--grey);
}

.tab {
    text-decoration: none;
}